section {
  padding: 30px 0;
}

.jumbotron {
  position: relative;
  margin-bottom: 0;

  @include respondto(md,lg) {
    // padding-top: 4em;
    padding-bottom: 4em;
  }

  .parallax-img {
    z-index: 0;
  }

  .container {
    z-index: 1;
    position: relative;
  }

  h1 {
    // color: $navy-darkest;
    font-weight: bold;
    line-height: 1.25em;
    // margin: 0;
    font-family: $font-family-sans-serif;

    @include respondto(sm) {
      font-size: 35px;
    }

    @include respondto(md,lg) {
      font-size: 45px;
    }
  }

  p {
    font-size: 1.15em;
    font-family: $font-family-serif;

    @include respondto(sm) {
      max-width: 50%;
    }
  }
}

.partners {
  a {
    display: inline-block;
    margin: 9px 20px;
  }
}

.overview {
  .flex-sm-up {
    padding: 60px 0;
    align-items: center;
  }
}
