section {
  padding: 30px 0;
}

.jumbotron {
  position: relative;
  margin-bottom: 0;

  @include respondto(md,lg) {
    // padding-top: 4em;
    padding-bottom: 4em;
  }

  .parallax-img {
    z-index: 0;
  }

  .container {
    z-index: 1;
    position: relative;
  }

  h1 {
    // color: $navy-darkest;
    font-weight: bold;
    line-height: 1.25em;
    // margin: 0;
    font-family: $font-family-sans-serif;

    @include respondto(sm) {
      font-size: 35px;
    }

    @include respondto(md,lg) {
      font-size: 45px;
    }
  }

  p {
    font-size: 1.15em;
    font-family: $font-family-serif;

    @include respondto(sm) {
      max-width: 50%;
    }
  }
}

.partners {
  a {
    display: inline-block;
    margin: 9px 20px;
  }
}

.overview {
  .flex-sm-up {
    padding: 60px 0;
    align-items: center;
  }
}

.quote-box{
	max-width:450px;
	width:100%;
	color:#fff;
	margin: 0 auto;
	margin-bottom:20px;

	.blue-box{
		background-color:#203069;
		border-radius:10px;
		padding: 20px;
		
	}
	
	.red-box{
		background-color:#9F0728;
		border-radius:10px;
		padding: 20px;
	}
	
	.content-box{
		padding:10px 20px 0px;
	}
	
	.right-quote-image{
		float:right;
		clear: both;
	}
	.quote-name{
		font-style: italic;
		text-align: right;
		font-weight: 100;
	}
}

.quote-box.right-box{
	float:right;
}
.quote-box.left-box{
	float:left;
}


@media (max-width: 768px) {
    .quote-box.right-box{
		float:none;
	}
	.quote-box.left-box{
		float:none;
	}
}